#body{
    background-color: gray;
  
    display: flex;
    flex-wrap: wrap;
    
    

}
.bigc{
    align-items: center;
    text-align: center;

}

#front{
    font-size: 90px;
    color: white;
    margin-bottom:0px;
    margin-top: 150px;
}
#inputS{
    height: 30px;
    width: 600px;
    border-radius: 25px;
    padding: 5px;
    margin: 50px;
    margin-top: 20px;


}
#smalltext{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    left: 120px;
    font-size: 19px;
}
.button{
    margin: 10px 5px;
    border: none;
    background: rgb(46, 45, 45);
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
    position: relative;
}
.button:hover{
    transform: scale(1.05);
    
}
.icons{
    color: white;
    text-decoration: none;
    padding: 20px;
    position: relative;
    right: 10px;
    font-size: 18px;
}
